<main class="container">
    <img src="assets/img/techo_no_ground.png" alt="Logo" width="300" id="techologo">
  
    <mat-toolbar id="toolbar">
        <img src="assets/img/texto_no_ground.png" id="textologo" alt="Bosques" width="300">
    
        <button mat-button [matMenuTriggerFor]="menu1" id="menu1">Información</button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    
        <button mat-button [matMenuTriggerFor]="menu2" id="menu2">Administración</button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    
        <button mat-button [matMenuTriggerFor]="menu3" id="menu3">Español</button>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    
        <img src="assets/img/branch_right.png" alt="branch_right" id="branch">
    
    </mat-toolbar>

    <app-footer></app-footer>



  <router-outlet></router-outlet>

</main>


