<main class="container">
    <a routerLink="" routerLinkActive="router-link-active">
        <img src="assets/img/techo_no_ground.png" alt="Logo" width="200" id="techologo">
    </a>
    
    <a href="https://www.facebook.com/bosquespropiedades/" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/facebook.png" id="facebook">  
    </a> 

    <a href="https://www.instagram.com" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/instagram-new.png" id="instagram">  
    </a>   
  
    <mat-toolbar id="toolbar">
        <a routerLink="" routerLinkActive="router-link-active" >
            <img src="assets/img/texto_no_ground.png" id="textologo" alt="Bosques" width="250">
        </a>
        
    
        <button mat-button [matMenuTriggerFor]="menu1" id="menu1">Información</button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item>Oficinas</button>
            <button mat-menu-item>Contactos</button>
        </mat-menu>
    
        <button mat-button [matMenuTriggerFor]="menu2" id="menu2">Trámites</button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="menu21">Subdivisiones</button>
            <mat-menu #menu21="matMenu">
                <button mat-menu-item routerLink="procedure">Urbana </button>     
                <button mat-menu-item>Rural</button>       
            </mat-menu>
        
            <button mat-menu-item [matMenuTriggerFor]="menu22">Desenglobes</button>
            <mat-menu #menu22="matMenu">
                <button mat-menu-item>Urbana</button>     
                <button mat-menu-item>Rural</button>       
            </mat-menu>

            <button mat-menu-item [matMenuTriggerFor]="menu23">Diseños de vivienda</button>
            <mat-menu #menu23="matMenu">
                <button mat-menu-item>Arquitectónicos</button>     
                <button mat-menu-item>Estructurales</button>       
            </mat-menu>

            <button mat-menu-item>Licencias de Construcción</button>
            <button mat-menu-item>Diseño de sistemas sépticos</button>
            <button mat-menu-item>Permisos de vertimientos</button>
            <button mat-menu-item>Estudio de suelos</button>
            <button mat-menu-item>Conseción de aguas</button>


        </mat-menu>
       
    
        <button mat-button [matMenuTriggerFor]="menu3" id="menu3">Español</button>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item>English</button>            
        </mat-menu>
    
        <img src="assets/img/branch_right.png" alt="branch_right" id="branch">
    
    </mat-toolbar>

    

  <router-outlet></router-outlet>
  

</main>


