/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("assets/img/forest_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(250, 250, 250);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
