footer{
    position: relative;    
}
#bosqueslogo{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
address{
    position: absolute;
    width: 450px;
    bottom: 0px;
    left: 180px;
}

#phiref{
    position: absolute;
    bottom: 0px;
    left: 1000px;
    align-items: center;
    width: 200px;
    
    
}


